.chart div {
    font: 10px sans-serif;
    background-color: crimson;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}

.box {
    width: 10px;
    height: 10px;
    display: inline-block;
}